<section data-ng-controller="ReflectionsController" data-ng-init="findOne()" class="creative">
	<div class="listViewContainer">
		<a href="/#!/reflections/create" class="createNew"><img src="/modules/reflections/img/createNew.png"></a>
		<div class="page-header">
			<h1 data-ng-bind="reflection.title"></h1>
		</div>
		<div class="pull-right" data-ng-show="authentication.user._id == reflection.user._id">
			<a class="btn btn-primary" href="/#!/reflections/{{reflection._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="reflection.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="reflection.user.displayName"></span>.
				<span data-ng-bind="reflection.likes.length"></span> Like(s)
			</em>
		</small>
		<p class="lead" data-ng-bind="reflection.content"></p>
		<div class="form-group">
			<button class="btn btn-default" ng-click="likeReflection(reflection, 1)"><i class="glyphicon glyphicon-heart-empty"></i>
				Like
			</button>
		</div>
		<div ng-repeat="comment in reflection.comments | orderBy:'-created'" class="list-group">
			<p data-ng-bind="comment.commentBody"></p>
			<small>
				<em class="text-muted">
					Said on
					<span data-ng-bind="comment.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="comment.author.displayName"></span>.
				</em>
		    </small>
		</div>
		<div class="form-group">
			<button class="btn btn-default" ng-click="toggleMakeComment()"><i class="glyphicon glyphicon-edit"></i>
				Say Something About This Reflection
			</button>
		</div>
		<form name="reflectionForm" data-ng-submit="addComment()" ng-show="makeComment" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="content">Say Something</label>
					<div class="controls">
						<textarea name="content" data-ng-model="comment" id="content" class="form-control" cols="5" rows="5" placeholder="Comment"></textarea>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-send"></i>
					Say it!
					</button>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
	<footer>
		<a href="http://monsieurslim.github.io/Portfolio"><p>&copy; 2014 Monsieur Slim | Andela</p></a>
	</footer>
</section>