<section data-ng-controller="HomeController" class="wrap">
	<div class="container listViewContainer">
		<div class="page-header">
			<h1>Welcome to Musings!</h1><h2 data-ng-bind="welcomeMessage"></h2>
		</div>
		<div ng-hide="authentication.user">
			<h6>Musings is the hub for your deepest reflections, those that come to you in that moment of deep inspiration. This hub's design helps sort through both your Facebook Posts, and Tweets that attracted many likes or comments and retweets respectively. Musings sorts through and returns your special social media statuses, and reunites you with them.</h6>
			<br>
			<div class="login">
				<h2 class="page-header">Musings Requests The Pleasure Of Your Company...</h2>
				<a class="btn btn-default" href="/#!/signup"><i class="glyphicon glyphicon-send"></i>
					Join
				</a>
				<a class="btn btn-default" href="/#!/signin"><i class="glyphicon glyphicon-log-in"></i>
					Log In
				</a><br>
				<br>
				<a href="/auth/twitter">
					<img src="/modules/core/img/twitter.png">
				</a>
				<a href="/auth/facebook">
					<img src="/modules/core/img/facebook.png">
				</a>
			</div>
		</div>
		<div class="list-group" ng-show="authentication.user">
			<h3>Your Hottest Facebook Posts</h3>
			<div class="preloader">
				<img src="/modules/core/img/727.GIF" ng-show="loading">
			</div>
			<div data-ng-repeat="post in posts track by $index" class="list-group-item">
				<h4 class="list-group-item-text" data-ng-bind="post"></h4><br>
				<a href="/#!/reflections/create" class="btn btn-default" ng-click="fillContent(post)"><i class="glyphicon glyphicon-edit"></i>
					Make a Reflection from this
				</a>
			</div><br>
			<button class="btn btn-default" type="submit" ng-click="postsRefresh()"><i class="glyphicon glyphicon-refresh"></i>
				Explore Your Hot Facebook Posts
			</button>
		</div>
		<footer>
			<a href="#"><p>&copy; 2014 Monsieur Slim | Andela</p></a>
		</footer>
	</div>
</section>
