.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
/**********MAIN CONTAINER******************/
h1, h3 {
	color: white;
}
h2 {
	color: pink;
}

.wrap {
	background: rgb(255,0,255);
	padding: 30px;
	width: 100%;
	height: 100vh;
	background: url('/modules/core/img/1533777.jpg') no-repeat fixed;
	overflow: auto;
}

.login {
	float: right;
}
.preloader {
	text-align: center;
}
footer {
	position: relative;
	bottom: 0;
	text-align: center;
}
