@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
/**********MAIN CONTAINER******************/
h1, h3, p {
	color: white;
}
h2 {
	color: pink;
}

h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
h5 {
	font-style: italic;
	font-weight: bold;
}
h6 {
	color: white;
	font-size: 1em;
	font-style: italic;
} 
.padAuto {
	margin-top: 10px;
}

.wrap {
	background: rgb(255,0,255);
	padding: 30px;
	width: 100%;
	height: 100vh;
	background: url('/modules/core/img/1533777.jpg') no-repeat fixed;
	overflow: auto;
}

.login {
	text-align: center;
	padding-bottom: 20px;
}
.preloader {
	text-align: center;
}
footer {
	position: relative;
	bottom: 0;
	text-align: center;
}
